<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.srishti.myapplication" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".samplelogin"
            android:label="@string/title_activity_samplelogin" >
        </activity>
        <activity
            android:name=".Signin"
            android:label="@string/title_activity_signin" >
        </activity>
        <activity
            android:name=".Loginn"
            android:label="@string/title_activity_loginn" >
        </activity>
        <activity
            android:name=".LoginNew"
            android:label="@string/title_activity_login_new" >
        </activity>
        <activity
            android:name=".option_signup"
            android:label="@string/title_activity_option_signup" >
        </activity>
        <activity
            android:name=".user_profile"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name=".signin_hospital"
            android:label="@string/title_activity_signin_hospital" >
        </activity>
        <activity
            android:name=".hos_profile"
            android:label="@string/title_activity_hos_profile" >
        </activity>
        <activity
            android:name=".ask_for_blood_user"
            android:label="@string/title_activity_ask_for_blood_user" >
        </activity>
        <activity
            android:name=".ask_for_blood_hos"
            android:label="@string/title_activity_ask_for_blood_hos" >
        </activity>
        <activity
            android:name=".blood_bank_status"
            android:label="@string/title_activity_blood_bank_status" >
        </activity>
        <activity
            android:name=".medical_history"
            android:label="@string/title_activity_medical_history" >
        </activity>
        <activity
            android:name=".user_blood_requests"
            android:label="@string/title_activity_user_blood_requests" >
        </activity>
        <activity
            android:name=".hos_organize_events"
            android:label="@string/title_activity_hos_organize_events" >
        </activity>
    </application>

</manifest>
